---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Probando Astro</h1>
        <p>Estamos probando este nuevo framework para en un futuro cercano poder migrar todos las landings estáticas de nuestro proyecto.</p>
	</body>
</html>
