---
const platform = "github";
const username = "DreamFloydDev";
import Social from './Social.astro';
---
<style>
    footer {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>
<footer>
  <p>Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="twitter" username="mjimenezba" />
  <Social platform="github" username={username} />
  <Social platform="youtube" username="mjimenez" />
</footer>